In [108]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF
import pandas as pd
plotly.tools.set_credentials_file(username='Voidgray', api_key='Dlv0HeZQXKPvVdfrqIaa')
import requests
import json
import numpy
from pandas.io.json import json_normalize
from pymongo import MongoClient
import time
client = MongoClient("mongodb+srv://BuckZ:max@idedata-xucf1.gcp.mongodb.net/test")
db = client.emploistore
offres = db.offres
offres.find_one()

# API CONNECTION #

client_id="PAR_idedataskills_ff9af1db81dd556671117874e2785cfb7744be3b25148a472f2d29a5b00b4126" # Your API ID Here
client_secret="ea2d066069be79cec2299c0b1081063c7a070b531d36ec6fd7144b74f6ddd5ae" # Your API Secret Here
response=requests.post(
    "https://entreprise.pole-emploi.fr/connexion/oauth2/access_token",
    data={
        'grant_type': 'client_credentials',
        'client_id': client_id,
        'client_secret': client_secret,
        'scope':'api_offresdemploiv1 o2dsoffre application_{}'.format(client_id),
        'realm':'partenaire'
    },
    headers={'Content-Type':'application/x-www-form-urlencoded','Accept':'application/json'}
    , params={"technicalParameters":{"page":1}}
).json()
token=response['access_token']

In [88]:
#Initialisation de la liste des départements
listdept= [i for i in range(1,96) if i!=20] 
listdept.extend(["2A","2B",971,972,973,974,976])
for i,j in enumerate(listdept[0:9]):
    listdept[i]=str(0)+str(j)

In [93]:
for iteration in listdept:    
    #  REQUEST API  #

    url='https://api.emploi-store.fr/partenaire/offresdemploi/v1/rechercheroffres'
    arguments = {"criterias":{"departmentCode": "{}".format(iteration), "keywords":"Développeur"}}
    result=requests.post(url,
                         params={"technicalParameters":{"page":1}},
        headers={'Authorization': 'Bearer {}'.format(token),'Content-Type':'application/json','Accept':'application/json'        
                },     
                json=arguments)
    time.sleep(2)
    data = json.loads(result.text) 
        
    #EXTRACT USEFUL DATA FROM JSON AND INSERT TO MONGO #

    list_dico = []
    for item in data['results']:
        tempo_dict = {}
        list_skill = []
        try:
            tempo_dict.update({'_id': item['offerId']})
            tempo_dict.update({'companyContactEmail' : item['companyContactEmail']})
            tempo_dict.update({'companyDescription' : item['companyDescription'].replace("\n", '')})
            tempo_dict.update({'companyWorkforceName' : item['companyWorkforceName']})
            tempo_dict.update({'departmentCode' : item['departmentCode']})
            tempo_dict.update({'description' : item['description'].replace("\n", '')})
            tempo_dict.update({'romeProfessionCode' : item['romeProfessionCode']})
            tempo_dict.update({'romeProfessionName' : item['romeProfessionName']})
            tempo_dict.update({'title' : item['title']})
            if item['minSalary']>10000:
                tempo_dict.update({'minSalary' : (item['minSalary']/12)})
                tempo_dict.update({'maxSalary' : (item['maxSalary']/12)})
            else: 
                tempo_dict.update({'minSalary' : item['minSalary']})
                tempo_dict.update({'maxSalary' : item['maxSalary']})
            for skill in item['skills']:
                list_skill.append(skill['skillName'])
                tempo_dict.update({'skills' : list_skill})
            offres.replace_one({'_id':tempo_dict['_id']}, tempo_dict, upsert=True)
            #offres.insert_one(tempo_dict)
        except KeyError:
            pass

In [106]:
len(data['results'])

0

In [94]:
offres.find_one()

{'_id': '074SSFS',
 'companyContactEmail': 'pbardey@cisa-informatique.com',
 'companyDescription': 'CISA INFORMATIQUE (www.cisa-informatique.com), 45 personnes, éditeur de solutions informatiques de gestion au service des PME/PMI, implantée en Rhône-Alpes depuis plus de 50 ans.',
 'companyWorkforceName': '20 à 49 salariés',
 'departmentCode': '01',
 'description': "Vous participez au développement d'un progiciel de gestion de type ERP : analyse, programmation, tests, maintenance et assistance.Travail au sein d'une équipe et sous la responsabilité d'un chef de projet.Environnement Microsoft C#, SQL Server et développement Web.Formation Bac +3 à Bac +5",
 'maxSalary': 2666.6666666666665,
 'minSalary': 2000.0,
 'romeProfessionCode': '14148',
 'romeProfessionName': "Développeur / Développeuse d'application",
 'skills': ['Concevoir et développer les programmes et applications informatiques',
  'Analyser des problèmes techniques'],
 'title': "Développeur / Développeuse d'application"}

In [6]:
test = offres.aggregate([{"$project":{"title":1, "maxSalary":1}}])

In [7]:
test.next()

{'_id': ObjectId('5b46157ad52340662e742745'),
 'maxSalary': 48000.0,
 'title': 'Développeur / Développeuse Sénior Python (H/F)'}

In [109]:
url='https://api.emploi-store.fr/partenaire/offresdemploi/v1/rechercheroffres'
arguments = {"criterias":{"departmentCode": "90", "keywords":"Boulanger"}}
result=requests.post(url,
                         params={"technicalParameters":{"page":1}},
        headers={'Authorization': 'Bearer {}'.format(token),'Content-Type':'application/json','Accept':'application/json'        
                },     
                json=arguments)

data = json.loads(result.text)

In [86]:
data['results']

[]

In [19]:
cursor  = offres.find()

In [20]:
cursor.next()

{'_id': '074SSFS',
 'companyContactEmail': 'pbardey@cisa-informatique.com',
 'companyDescription': 'CISA INFORMATIQUE (www.cisa-informatique.com), 45 personnes, éditeur de solutions informatiques de gestion au service des PME/PMI, implantée en Rhône-Alpes depuis plus de 50 ans.',
 'companyWorkforceName': '20 à 49 salariés',
 'departmentCode': '01',
 'description': "Vous participez au développement d'un progiciel de gestion de type ERP : analyse, programmation, tests, maintenance et assistance.Travail au sein d'une équipe et sous la responsabilité d'un chef de projet.Environnement Microsoft C#, SQL Server et développement Web.Formation Bac +3 à Bac +5",
 'maxSalary': 32000.0,
 'minSalary': 24000.0,
 'romeProfessionCode': '14148',
 'romeProfessionName': "Développeur / Développeuse d'application",
 'skills': ['Concevoir et développer les programmes et applications informatiques',
  'Analyser des problèmes techniques'],
 'title': "Développeur / Développeuse d'application"}

In [82]:
pprint.pprint(offres.find_one({"departmentCode":"44"}))

{'_id': '075JBCQ',
 'companyContactEmail': 'rennes.001srs@randstadsearch.fr',
 'companyDescription': 'Search, Cabinet Conseil en Recrutement et Approche '
                       "directe, intervient dans la recherche et l'évaluation "
                       'des profils Middle et Top Management. Le cabinet est '
                       'présent dans les principales métropoles françaises.Les '
                       'consultants du Pôle Informatique & Télécommunications '
                       'mettent à votre service leur expertise métier pour '
                       'vous accompagner au mieux dans votre évolution '
                       'professionnelle.',
 'companyWorkforceName': '6 à 9 salariés',
 'departmentCode': '35',
 'description': "Femme/homme d'expertise, le développeur a pour mission "
                "principale de développer et tester tout ou partie d'une suite "
                "logicielle dans le cadre d'un projet :?Développement de tout "
                "ou partie du logiciel en se basant sur l'analyse "
                "fonctionnelle?Participation à l'élaboration de l'architecture "
                'logicielle et matérielle?Rédaction de la documentation '
                'technique logicielle?Intégration de solutions informatiques '
                'existantes et participation à la recette?Déploiement sur site '
                'client?Configuration, paramétrage et assistance du matériel '
                'client?Intégration ponctuelle à différents projets R&D de '
                "l'entreprise?Assurer la maintenance des applications "
                'existantes?Conception de scénarii de tests?Assurer une veille '
                'technologique sur les outils standards et les usages '
                'numériques',
 'maxSalary': 40000.0,
 'minSalary': 33000.0,
 'romeProfessionCode': '14153',
 'romeProfessionName': 'Développeur / Développeuse informatique',
 'title': 'Développeur / Développeuse informatique'}

In [114]:
offres.find_one()

In [103]:
avg_salaries  = offres.aggregate([
    {
        "$group":{"_id":"$departmentCode",
        "maxSalary":{"$avg":"$maxSalary"},
        "minSalary":{"$avg":"$minSalary"}
    }}
])

In [122]:

for i in (df['_id']):
    if len(str(i))<2:
        del df[i]

KeyError: 0

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF

import numpy as np
import pandas as pd
plotly.tools.set_credentials_file(username='Voidgray', api_key='Dlv0HeZQXKPvVdfrqIaa')

In [104]:
df = pd.DataFrame(list(avg_salaries))

In [118]:
trace_1 = go.Bar(
x = df['_id'][3:],
y = df.minSalary
)
data = [trace_1]
py.iplot(data)

In [121]:
df.sort_values(by='_id')

    _id    maxSalary    minSalary
38   01  1726.222222  1336.666667
31   02  3333.333333  2500.000000
20   06  3553.030303  2561.616162
63   07  2333.333333  2000.000000
23   08  3750.000000  2500.000000
25   10  2694.444444  2250.000000
28   12  1498.470000  1198.770000
40   13  3315.104167  2724.617188
33   14  1916.666667  1775.000000
44   16  2600.000000  2000.000000
51   17  3316.666667  2600.000000
36   21  2320.000000  1820.000000
42   22  2611.111111  2205.555556
43   25  1962.000000   846.415000
22   26  5833.333333  4666.666667
21   27  2044.890000  1710.753333
34   28  2000.000000  1500.000000
66   29  2472.222222  1916.666667
2    2A  2500.000000  1800.000000
1    2B  2000.000000  1800.000000
19   30  2694.444444  2244.444444
37   31  3044.583333  2198.046296
27   32  2000.000000  1800.000000
62   33  2694.567901  2139.012346
70   34  3087.500000  2328.571429
26   35  4702.425000  2292.068333
47   37  3013.888889  2305.555556
74   38  5019.078431  2374.352941
41   39  2500.000000  2000.000000
52   40  2073.570000  1726.620000
..  ...          ...          ...
64   64  2850.000000  2255.555556
35   65  1753.000000  1618.000000
17   67  2352.166667  1779.777778
16   68  2725.000000  2000.000000
24   69  3215.315789  2342.982456
15   71  2500.000000  2183.333333
14   73  2604.166667  1962.500000
13   74  3437.500000  2750.000000
11   75  3756.745772  2830.322764
46   76  3472.222222  2361.111111
18   77  4291.666667  3333.333333
12   78  3690.625000  2675.000000
61   79  3023.809524  2369.047619
10   80  2145.583333  1574.500000
59   81  2000.000000  1800.000000
58   83  3210.000000  2491.666667
9    84  3020.833333  2235.416667
32   85  2373.066667  2042.866667
45   86  3333.333333  2916.666667
8    87  3000.000000  2300.000000
7    88  2300.000000  2000.000000
6    89  2555.555556  2100.000000
50   90  2050.000000  2000.000000
48   91  3541.666667  2708.333333
5    92  3780.833278  2898.333222
4    93  3968.750000  2916.666667
57   94  3291.666667  2437.500000
3    95  3388.888889  2731.481481
30  971  3583.333333  3066.666667
0   974  2597.000000  2468.000000

[76 rows x 3 columns]

In [81]:
import

In [107]:
import plotly